<ng-form name='scriptForm' ng-submit='submitForm(scriptForm.$valid, script)' novalidate>
	<div class='form-group' ng-repeat='formStructure in form' ng-class='{{formStructure.formGroupNgClass}}'>
		<ng-form name='scriptFieldForm'>
			<div class='row' >
				<div class='col-md-2'>
					<label for='{{formStructure.labelFor}}' class='{{formStructure.labelClass}}'>{{formStructure.labelText}}</label>
				</div>

				<div class='col-md-4'>
					<input type='{{formStructure.inputType}}'
									id='{{formStructure.inputId}}'
									placeholder='{{formStructure.inputPlaceholder}}'
									name='{{formStrucutre.inputName}}'
									class='{{formStructure.inputClass}}'
									ng-model='script[formStructure.inputNgModel]'
									ng-required='{{formStructure.inputRequired}}'/>
				</div>
				<div class='col-md-3'>
					<span ng-show='{{formStructure.errorNgShow}}' class="help-block">{{formStructure.errorText}}</span>
				</div>
			</div>
		</ng-form>
	</div>

	<textarea id='scriptQuery' placeholder='Script a executar' name='scriptQuery' class='form-control' rows='10' ng-model='script.query' ng-required='true'/>
	<button type="submit" class="btn btn-primary" ng-disabled='!scriptForm.$valid'>Download</button>
</ng-form>


<h3>Pré-visualização Script</h3>
<pre>
	SPOOL G:\AGOC-NP\NP\Operacao\logs\{{script.env}}\{{script.date | date:'yyyyMMdd'}}\{{script.date | date:'yyyyMMdd'}}_{{script.name}}.log

	set echo on;

	ALTER SESSION SET current_schema={{script.schema}};

	ALTER SESSION SET NLS_DATE_FORMAT='YYYY-MM-DD HH24:MI:SS';

	{{script.query.split('\n').join('\n\t')}}

	commit;

	set echo off;

	SPOOL OFF

</pre>
