<div class='container'>
	<form name='scriptForm' ng-submit='submitForm(scriptForm.$valid, script)' novalidate>
		<ng-form name='scriptForm'>
			<div class='form-group' ng-repeat='formStructure in form' ng-class='{{formStructure.formGroupNgClass}}'>
				<ng-form name='scriptFieldForm'>
					<div class='row'>
						<div class='col-md-offset-2 col-md-1'>
							<label for='{{formStructure.labelFor}}' class='{{formStructure.labelClass}}'>{{formStructure.labelText}}</label>
						</div>

						<div class='col-md-4'>
							<input type='{{formStructure.inputType}}'
											id='{{formStructure.inputId}}'
											placeholder='{{formStructure.inputPlaceholder}}'
											name='{{formStrucutre.inputName}}'
											class='{{formStructure.inputClass}}'
											ng-model='script[formStructure.inputNgModel]'
											ng-required='{{formStructure.inputRequired}}'/>
						</div>
						<div class='col-md-2'>
							<span ng-show='{{formStructure.errorNgShow}}' class='help-block'>{{formStructure.errorText}}</span>
						</div>
					</div>
				</ng-form>
			</div>

			<div class='row' >
				<div class='col-md-offset-2 col-md-1'>
					<label>Commits</label>
				</div>
				<div class='col-md-4'>
					<label class='radio-inline' ng-repeat='line in lines'>
						<input type='radio' ng-model='script.commit' ng-value='{{line.value}}'>
						{{line.desc}}
					</label>
				</div>
			</div>

			<div class='row'>
				<div class='col-md-offset-2 col-md-1'>
					<label>Encoding</label>
				</div>
				<div class='col-md-4'>
					<label class='radio-inline' ng-repeat='encoding in encodings'>
						<input type='radio' ng-model='script.encoding' value='{{encoding}}'>{{encoding}}</label>
				</div>
			</div>

			<div class='row' >
				<div class='col-md-offset-2 col-md-1'>
					<label>Tipo</label>
				</div>
				<div class='col-md-4'>
					<label class='radio-inline' ng-repeat='type in types'>
						<input type='radio' ng-model='script.type' value='{{type}}'>{{type}}</label>
				</div>
			</div>

			<div class='row'>
				<div class='col-md-offset-2 col-md-1'>
					<label>Script</label>
				</div>
				<div class='col-md-6'>
					<textarea id='scriptQuery' placeholder='Script a executar' name='scriptQuery' class='form-control' rows='10' ng-model='script.query' ng-required='true'/>
				</div>
			</div>
		</ng-form>

		<br>

		<div class='row'>
			<div class='col-md-1 col-md-offset-3'>
				<button id='submit' type='submit' class='btn btn-primary' ng-disabled='!scriptForm.$valid'>Download</button>
			</div>
		</div>

	</form>
</div>

<div class='container'>
	<div class='row'>
		<div class='col-md-3 col-md-offset-3'>
			<h3>Pré-visualização Script</h3>
		</div>
	</div>

	<div class='row'>
		<div class='col-md-6 col-md-offset-3'>
			<pre ng-if='script.type === types[1]'>
SPOOL G:\AGOC-NP\NP\Operacao\logs\{{script.env}}\{{script.date | date:'yyyyMMdd'}}\{{script.date | date:'yyyyMMdd'}}_{{script.name}}.log

SET ECHO ON;

ALTER SESSION SET current_schema={{script.schema}};

ALTER SESSION SET NLS_DATE_FORMAT='YYYY-MM-DD HH24:MI:SS';

{{script.query | addCommits:script.commit}}

COMMIT;

SET ECHO OFF;

SPOOL OFF;
			</pre>
			<pre ng-if='script.type !== types[1]'>
SPOOL {{script.date | date:'yyyyMMdd'}}_{{script.name}}.log

SET ECHO ON;

ALTER SESSION SET current_schema={{script.schema}};

ALTER SESSION SET NLS_DATE_FORMAT='YYYY-MM-DD HH24:MI:SS';

{{script.query | addCommits:script.commit}}

COMMIT;

SET ECHO OFF;

SPOOL OFF;
			</pre>
		</div>
	</div>
</div>
