<form name='scriptForm' ng-submit='submitForm(scriptForm.$valid, script)' novalidate>
	<ng-form name='scriptForm'>
		<div class='form-group' ng-repeat='formStructure in form' ng-class='{{formStructure.formGroupNgClass}}'>
			<ng-form name='scriptFieldForm'>
				<div class='row' >
					<div class='col-md-2'>
						<label for='{{formStructure.labelFor}}' class='{{formStructure.labelClass}}'>{{formStructure.labelText}}</label>
					</div>

					<div class='col-md-4'>
						<input type='{{formStructure.inputType}}'
										id='{{formStructure.inputId}}'
										placeholder='{{formStructure.inputPlaceholder}}'
										name='{{formStrucutre.inputName}}'
										class='{{formStructure.inputClass}}'
										ng-model='script[formStructure.inputNgModel]'
										ng-required='{{formStructure.inputRequired}}'/>
					</div>
					<div class='col-md-3'>
						<span ng-show='{{formStructure.errorNgShow}}' class="help-block">{{formStructure.errorText}}</span>
					</div>
				</div>
			</ng-form>
		</div>

		<div class='row' >
			<div class='col-md-2'>
				<label>Commit a cada</label>
			</div>
			<div class='col-md-6'>
				<label class="radio-inline"><input type="radio" ng-model="script.commit" ng-value="10">10 linhas</label>
				<label class="radio-inline"><input type="radio" ng-model="script.commit" ng-value="50">50 linhas</label>
				<label class="radio-inline"><input type="radio" ng-model="script.commit" ng-value="100">100 linhas</label>
				<label class="radio-inline"><input type="radio" ng-model="script.commit" ng-value="0">Só no fim</label>
			</div>

		<textarea id='scriptQuery' placeholder='Script a executar' name='scriptQuery' class='form-control' rows='10' ng-model='script.query' ng-required='true'/>
	</ng-form>
	<button type="submit" class="btn btn-primary" ng-disabled='!scriptForm.$valid'>Download</button>
</ng-form>


<h3>Pré-visualização Script</h3>
<pre>
	SPOOL G:\AGOC-NP\NP\Operacao\logs\{{script.env}}\{{script.date | date:'yyyyMMdd'}}\{{script.date | date:'yyyyMMdd'}}_{{script.name}}.log

	SET ECHO ON;

	ALTER SESSION SET current_schema={{script.schema}};

	ALTER SESSION SET NLS_DATE_FORMAT='YYYY-MM-DD HH24:MI:SS';

	{{script.query | filt:script.commit}}

	COMMIT;

	SET ECHO OFF;

	SPOOL OFF

</pre>
