<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ScriptGen</title>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  </head>
  <body ng-app="sqlScriptGenerator">
  	<div class='container'>
  		<nav class="navbar navbar-default" role="navigation">
  			<div class="container-fluid">
  				<div class="navbar-header">
  					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
  						<span class="sr-only">Toggle navigation</span>
  						<span class="icon-bar"></span>
  						<span class="icon-bar"></span>
  						<span class="icon-bar"></span>
  					</button>
  					<a class="navbar-brand" href="#">Gerar Scripts</a>
  				</div>
  			</div>
  		</nav>

  		<ng-view></ng-view>
  	</div>

    <!-- JQUERY -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Twitter bootstrap -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Angular -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>

    <!-- Angular APP -->
    <script src="scr/app.js"></script>
    <script src="scr/controllers/ScriptDataFactory.js"></script>
    <script src="scr/controllers/ScriptDataFilter.js"></script>
    <script src="scr/controllers/ScriptDataCtrl.js"></script>
  </body>
</html>
